BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
BraceWrapping:
  AfterFunction: true
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
Cpp11BracedListStyle: true
DerivePointerAlignment: true
SortIncludes: false
ColumnLimit: 100
