name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        include:
        - os: ubuntu-latest
          blocks: -DUNICODE_BLOCKS=/usr/share/unicode/Blocks.txt
          install_packages: >
            sudo apt update &&
            sudo apt install cmake gettext libcairo2-dev libglib2.0-dev libfmt-dev libfreetype6-dev libpango1.0-dev ninja-build pkg-config unicode-data
        - os: macos-latest
          env:
          - CMAKE_PREFIX_PATH: /usr/local/opt/gettext
          install_packages: >
            brew update &&
            brew install cairo cmake fmt fontconfig freetype gettext glib pango ninja pkg-config

    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v2

    - name: Install Packages
      run: ${{ matrix.install_packages }}

    - name: Configure
      run: cmake -GNinja -B${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} ${{ matrix.blocks }}

    - name: Build
      run: cmake --build ${{ github.workspace }}/build -v

    - name: Test
      run: ${{ github.workspace }}/build/src/fntsample --help
